.Ap {
  text-align: center;
  background-color: whitesmoke;
}
.App{
  text-align: center;
  background-color: whitesmoke;
}
#c{
  text-align: center;
}
#c1{
  padding: 30px 30px 30px 30px;
}
#c2{
  padding: 30px 30px 30px 30px ;
}
#c3{
  padding: 30px 30px 30px 30px ;
}
#i{
  width: 50%;
  margin-bottom: 20px;
}
.result{
   margin-top: 30px;
   margin-bottom: 30px;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px 10px; 
  width: auto;
  height: auto; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#input{
  width: 100%;
  
}
#label{
  font-family: monospace;
  font-size: 18px ;
}